<meta name="pushsdk" content="69c0404caa7d6563cf31db40a7712fd5">
<script>
    const overlayTranslations = {"en":{"title":"Attention!","description":"Click “Allow” to subscribe to our notifications and download the requested file.","buttonText":"Click here"}};
    const overlay = {"delay":0,"overlayStyle":{"background":"rgba(0,0,0, 1)"},"buttonText":"Click here","buttonStyle":{"background":"#2ccce4","color":"#555555"},"title":"Attention!","description":"Click “Allow” to subscribe to our notifications and download the requested file.","blockUntilAllow":true,...(overlayTranslations[navigator.language.slice(0, 2).toLowerCase()]||Object.values(overlayTranslations)[0])};
    const s = document.createElement('script');
    s.src='//cheksoam.com/pfe/current/tag.min.js?z=2912020';
    s.onload = (sdk) => {
        sdk.updateOptions({overlay, overlayTranslations})
        sdk.onPermissionDefault(() => {});
        sdk.onPermissionAllowed(() => {});
        sdk.onPermissionDenied(() => {});
        sdk.onAlreadySubscribed(() => {});
        sdk.onNotificationUnsupported(() => {});
    }
    document.head.appendChild(s);
</script>
<h1>Hello World !</h1>
<h2>This is only a test.</h2>
